<nav class="navbar navbar-expand-sm justify-content-center bg-light">
  <ul class="navbar-nav h5">
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/home" class="nav-link">home</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/register" class="nav-link"
        >register</a
      >
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/login" class="nav-link"
        >login</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
